<div class="page">
    <div class="header-container">
        <h2 class="active"> Update Password </h2>
    </div>

    <form action="" method="POST">
        <input required type="password"  id="newpassword1" name="newpassword1">
        <span>New password</span>
        <br>
        <input required type="password"  id="newpassword2" name="newpassword2">
        <span>Confirm password</span>
        <br>
        <button class="signin">
            Update
        </button>
    </form>
</div>