<div class="container">
    <div class="header-container">
        <h2 class="active"> Reset Password </h2>
    </div>
    <form action="/login/reset" method="POST">
        <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" />
            <label class="form-label" >Email</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-3">Send</button>
        </form>
</div>